.main{
    background-image: url('./img/markup.svg');
    background-repeat: no-repeat;
    background-color: #0E0C15;
    animation: apear 1s forwards;
}

@keyframes apear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}