.banner{
    height: 700px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.banner__wrapper{
    margin-top: 125px;
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    display: flex;
    gap: 30px;
    align-items: center;
    height: 80%;
    background: radial-gradient(at 60% 27%, #1C64F2 -30%, transparent 30%), 
                radial-gradient(at 80% 20% , #D41CF2 -70%, transparent 20%);
}


@media ((min-width:500px) and (max-width:1320px)){
    .banner{
        height: auto;
    }
    .banner__wrapper{
        padding-right: 5%;
        padding-left: 5%;
        width: 90%;
        display: grid;
        gap: 30px;
        align-items: center;
        margin-top: 5%;
        background: radial-gradient(at 60% 50%, #1C64F2 -30%, transparent 30%), 
                    radial-gradient(at 80% 45% , #D41CF2 -70%, transparent 20%);
    }
}

@media ((min-width:320px) and (max-width:500px)){
    .banner{
        height: auto;
    }
    .banner__wrapper{
        padding-right: 5%;
        padding-left: 5%;
        width: 90%;
        display: grid;
        gap: 30px;
        align-items: center;
        margin-top: 5%;
        background: radial-gradient(at 60% 50%, #1C64F2 -30%, transparent 30%), 
        radial-gradient(at 80% 45% , #D41CF2 -70%, transparent 20%);
    }
}